@use 'sass:color';

$fa-font-path: "../webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import "home";
@import "footer";

* {
  transition: 0.3s ease-in;
}

html, body {
  margin: 0;
  height: 100%;
}
body {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100%;
  grid-template-areas: "main" "footer";
  grid-template-rows: 1fr 40px;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

body {
  background: $theme-dark;
  color: $font-color;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

nav {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background: $theme-complement;
  font-size: 1.4em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  width: 100%;

  ul {
    padding: 0;
    margin: 0 20%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;

    li {
      height: calc(100% - 20px);
      border-right: solid 2px darken($theme-complement, 20%);
      border-left: solid 2px darken($theme-complement, 20%);
      padding: 10px 15px;
      background: $nav-color;
      background-clip: padding-box;

      &.logo {
        background-color: $nav-logo-background;
        color: #ffffff!important;
      }

      a, span {
        color: #ffffff!important;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }

      &:not(.nav-disabled):hover:not(.logo) {
        background: #ffffff;

        a {
          color: $theme-complement!important;
        }
      }
    }

    .nav-disabled {
      background: $nav-disabled;
      background-clip: padding-box;
    }
  }

  #theme-toggle {
    position: fixed;
    top: 10px;
    right: 10%;
    color: $theme-toggle;
    cursor: pointer;
  }
}

main {
  margin: 50px 20vw;
  background: $theme-light;
  padding: 25px;

  > div {
    padding-bottom: 40px;
  }
}

h2, h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 2em;
  line-height: 2em;
  font-weight: 700;
  border-bottom: 3px solid $theme-complement;
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: underline $link-color;
}

a:hover {
  color: $link-hover;
  text-decoration: none;
}

a:visited {
  color: $link-visited;
}

*[link] {
  cursor: pointer;
}

.sm-only {
  display: none;
}

.no-ital {
  font-style: normal!important;
}
// #region Media Queries
@media screen and (max-width: 1200px) {

  main {
    margin: 50px 0;
  }

  h2 {
    text-decoration: underline 3px $theme-complement;
    border: none;
  }

  #theme-toggle {
    right: 10px!important;
  }
}

@media screen and (max-width: 800px) {

  main {
    padding: 0;
    margin: 0;
  }

  nav {
    display: none;
  }

  .slide-button {
    img {
      display: none;
    }

    .slide-text {
      padding: 10px;
      margin: auto;
      display: block;
      position: static;

      h4 {
        font-size: 1em;
      }

      p {
        font-size: 0.8em;
      }
    }
  }

  .carousel-container {
    display: none!important;
  }
  .sm-only{
    display: inline;
  }

  #profile-row {
    display: flex;
    flex-flow: column;
    place-content: center;
    padding: 20px;

    img {
      width: 100%;
    }
  }
}
// #endregion

// #region Animations
@keyframes glow {
  from {
    text-shadow: 0 0 0px #fff, 0 0 2px #fff, 0 0 5px $theme-complement, 0 0 8px $theme-complement, 0 0 10px $theme-complement, 0 0 13px $theme-complement, 0 0 15px $theme-complement;
  }
  to {
    text-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 13px $theme-complement, 0 0 15px $theme-complement, 0 0 18px $theme-complement, 0 0 21px $theme-complement, 0 0 23px $theme-complement;
  }
}
// #endregion